---
// import { t } from "i18next";
import {getLangFromUrl, localizePath, ui, useTranslations} from '../i18n/ui';

interface Props {
  lang: keyof typeof ui;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section class="py-16 bg-primary text-background">
  <div class="container mx-auto px-4 text-center">
    <h2 class="text-3xl font-bold mb-4">{t("home.cta.title")}</h2>
    <p class="text-xl mb-8">{t("home.cta.description")}</p>
    <a href={localizePath("/contact", lang)} class="bg-accent text-background font-bold py-3 px-8 rounded-full hover:bg-opacity-90 transition duration-300">
      {t("home.cta.button")}
    </a>
  </div>
</section>