---
// import { t } from "i18next";
import {getLangFromUrl, ui, useTranslations} from '../i18n/ui';

interface Props {
  lang: keyof typeof ui;
}

const { lang } = Astro.props;

const services = [
  { title: "home.services.item1", description: "home.services.description1" },
  { title: "home.services.item2", description: "home.services.description2" },
  { title: "home.services.item3", description: "home.services.description3" },
];
export function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'es' } },
    { params: { lang: 'fr' } },
    { params: { lang: 'de' } },
    { params: { lang: 'cat' } },
  ];
}
// const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="services" class="py-16 bg-background">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold mb-8 text-center text-primary">{t("home.services.title")}</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {services.map((service) => (
        <div class="bg-secondary bg-opacity-10 p-6 rounded-lg">
          <h3 class="text-xl font-semibold mb-4 text-primary">{t(service.title)}</h3>
          <p>{t(service.description)}</p>
        </div>
      ))}
    </div>
  </div>
</section>